# Ignore virtual environment
venv/
.venv/

# Ignore system files
__pycache__/
*.pyc

# Ignore your local form submissions
submission.json

# Ignore VS Code settings or macOS files (if applicable)
.vscode/
.DS_Store
